##
# Project Ignores
src/FP_ComfyDowntime_ADV.VR

##
# Rust
src-tools/comfy_make/.vscode
src-tools/comfy_make/target
src-tools/comfy_make/Cargo.lock
src-tools/comfy_builder/target
src-tools/comfy_builder/Cargo.lock
Cargo.lock

*.exe
*.pbo

## Misc
.vscode